# =============================================================================
# .gitignore - Device tree LG K8+ (LM-X120) - Só device tree
# =============================================================================

# Ignora TUDO
/*

# Só permite device tree + configs
!/device
!/rootdir
!/scripts
!.github
!.gitignore
!/LICENSE
!/README.md

# Dentro de device, só mmh6lm
/device/*
!/device/lge
/device/lge/*
!/device/lge/mmh6lm
